
<!DOCTYPE html>
<html lang="en">
<head>
<title>HealthHack | Sperm Donation & FREE Sperm donors</title>
<link rel="icon" href="https://www.coparents.com/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://www.coparents.com/favicon.ico" type="image/x-icon" />
<%= stylesheet_link_tag "default","media","applicatin" %>

<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/validate.js"></script>
<script type="text/javascript" src="/js/enlargeit.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.alerts.js"></script>
<link href="https://www.coparents.com/templates/default/css/jquery.alerts.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script type="text/javascript">
/* <![CDATA[ */
var loadingTag = "Loading...";
var modeRewrite = "Y";
var docRoot = "/";
var alphanumeric_chars = "0123456789.,ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
var alphanum_chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
var text_chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz.";
var full_chars = "0123456789.,/ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz() =;:?'";
var use_popups = true;
var use_profilepopups = false;
var ajaxImSiteName = "CoParents.co.uk";
var enl_darksteps=3;
var enl_gifpath="/javascript/images/";
/* ]]> */
</script>
<script type="text/javascript">
/* <![CDATA[ */
function insufficientPrivileges(){
	alert("You don't have enough privileges for this option. Please upgrade your membership level.              Click on My Membership - Upgrade Membership");
	return false;
}
function newvalidateLogin(newform)
{
	if (newform.txtusername.value == '') {
		alert("Please enter a username.");
		return false;
	}
	if (newform.txtpassword.value == '') {
		alert("Please enter a password.");
		return false;
	}
}
function simplesearchZip(value) {
       osDatehttp.open('get', 'simplesearchZip.php?a=' + value );
       document.getElementById('simplesearch_zip').innerHTML="";
       osDatehttp.onreadystatechange = osDatehandleResponse;
       osDatehttp.send(null);   
}
/* ]]> */
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3104390-11']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  $(document).ready(function(){
        $(".shwo_men").click(function(){
            $(".show_dio ,.shwo_men").toggleClass("show_menu");
        });
    });
  
  $(function() {
    var header = $(".clearHeader");
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 20) {
        $(".clearHeader").addClass("darkHeader");
    }
 
	else {
            $(".clearHeader").removeClass("darkHeader");
        }
	
    });
});
</script>

 
</head>
<body dir="ltr" >
<center>
<!-- Header portion  -->
<div class="main_outer_table">
<header class="clearHeader">
<div class="wrapper">
<a href="#" class="logo" title="Indian Sperm Exchange Platform">
<%= image_tag("logo.png", :alt=> "swealth.com") %></a>
<div class="shwo_men">
<img src="https://www.coparents.com/templates/default/images/meu.png" width="40" height="40" alt="menu mobile">
</div>
<nav class="show_dio">
<ul>
<li>
<a href="forum.html" target="_blank" >Forum</a>
</li>
<li><a href="help.php">HELP</a>
</li>
<li><a href="feedback.php" >CONTACT US</a>
</li>

<li class="selc"> 
<script>
    function loc_change(new_url)
    {
        window.location = new_url;
    }
</script> 

</li>
</ul>
</nav>
</div>
</header>
<div class="clr"> 
</div>
<article class="clearHeader ">
<div class="wrapper">

<center>
<%= image_tag("banner.jpg", :width=> "950", :alt=> "Photos babies") %></div>
<br>


</center>
<div class="clr">
</div>
</div>
<div class="clr">
</div>
<div class="btag">
<h1 class="whdit">Infertility and Sperm Donation Process Made Easy</h1>
<p>Swealth.com is a platform aimed at providing a common ground to free sperm donors in India and wishful couples to find suitable matches.</p><b>Simple Search!</b><p>All you need to do is register your personal needs and then browse through our comprehensive database of profiles.</p><b>Why Us?</b><p>We understand the human desire to borne a child and ensure that our members are able to find suitable matches as per their prerequisites.</p></div>
</div>

<div class="clr"></div><div class="thr_"><div class="stroi"><h2 class="whdit">Stories</h2><h2><span class="mds">I'm so great full for this website</span></h2><div class="thfir"><p>if it wasn't for this I would have never been able to ...</div><br /><h2><span class="mds">Thank you for creating this website.</span></h2><div class="thfir"><p>Thanks to it, I was able to meet a co-parent and now ...</div><br /><h2><span class="mds">Thank you so much for the help.</span></h2><div class="thfir"><p>As a matter of fact, yes we found what we were looking ...</div><br /><h2><span class="mds">I met a fabulous donor</span></h2><div class="thfir"><p>through this site so thank you so much :) Kind regards Vivien ...</div><br /><a class="agos" href="https://www.coparents.com/stories.html">Read all stories</a></div>





<div class="stroi guids">
<h2 class="whdit">Guides</h2><div class="mds"><h2><a href="https://www.coparents.com/want-baby.php">Having A Baby Alone?</a></h2><br><div class="imgs"><div class="imagodis"><img src="https://www.coparents.com/images/having-a-baby-alone2.gif" alt="having a baby alone " width="140" height="90" /></div><div class="text">What are the benefits of using Swealth.com? With Swealth.com you are not tied to anything...</div></div></div><div class="mds"><h2><a href="https://www.coparents.com/sperm-donors.php">Find a Free Sperm Donor</a></h2><br><div class="imgs"><div class="imagodis"><img src="https://www.coparents.com/images/sperm_donor2.gif" width="140" height="90" alt="sperm donor" /></div><div class="text">Across the world sperm banks are experiencing a real shortage of donors, when you want to find a free sperm donor in the US this is not such a difficult thing...</div></div></div><div class="mds"><h2><a href="https://www.coparents.com/How-to-Find-a-Free-Sperm-Donor-Online.php">How to Find a Free Sperm Donor Online?</a>
</h2><br><div class="imgs"><div class="imagodis"><img src="https://www.coparents.com/images/Find-a-Free-Sperm-Donor-Online2.gif" width="61" height="90" alt="sperm donor" /></div><div class="text">First of all, it’s quite important to ascertain why you could be looking for a free sperm donor online, and how you should ensure that you are as well informed as is possible...</div></div></div><a class="agos" href="https://www.coparents.com/laws/united-states.php">Read all guides</a></div>
<div class="stroi blogs"><h2 class="whdit">Blog</h2><div class="bldogi"><b>16 November 2016</b><p><a href=" https://www.coparents.com/blog/how-can-i-know-ive-met-the-perfect-co-parenting-match/" target="_blank" title="How Can I Know I’ve Met the Perfect Co-Parenting Match?">How Can I Know I’ve Met the Perfect Co-Parenting Match? </a></p></div><div class="bldogi"><b>04 November 2016</b><p><a href=" https://www.coparents.com/blog/how-can-i-get-pregnant-quickly/" target="_blank" title="How Can I Get Pregnant Quickly?">How Can I Get Pregnant Quickly? </a></p></div><div class="bldogi"><b>12 October 2016</b><p><a href=" https://www.coparents.com/blog/sharing-custody-what-age-to-start/" target="_blank" title="Sharing Custody – What Age to Start?">Sharing Custody – What Age to Start? </a></p></div><div class="bldogi"><b>23 September 2016</b><p><a href=" https://www.coparents.com/blog/advantages-and-disadvantages-of-using-a-known-sperm-donor/" target="_blank" title="Advantages and Disadvantages of Using a Known Sperm Donor">Advantages and Disadvantages of Using a Known Sperm Donor </a></p></div><div class="bldogi"><b>13 September 2016</b><p><a href=" https://www.coparents.com/blog/6-top-foods-that-can-help-you-to-get-pregnant-and-help-your-babys-development/" target="_blank" title="6 Top Foods That Can Help You to Get Pregnant and Help your Baby’s Development">6 Top Foods That Can Help You to Get Pregnant and Help your Baby’s Development </a></p></div><div class="bldogi"><b>30 August 2016</b><p><a href=" https://www.coparents.com/blog/how-to-raise-a-child-with-2-houses/" target="_blank" title="How to raise a child with 2 houses">How to raise a child with 2 houses </a></p></div><a class="agos" href="https://www.coparents.com/blog/">Read the blog</a></div>




</div></div><div class="clr"></div></div>
<div class="pikdk">
<div class="wrapper">
<p>Are you looking for a <span class="span_h1">Sperm Donor</span> or Consultancy?</p>
<a href='signup.php' class="reogis">REGISTER NOW</a>
</div>
</div>
</article>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5252875d488f3eba" async="async"></script>
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>FAQs </h3>
                      <a href="https://www.youtube.com/watch?v=6DBEIhTKHYs" target="_blank">People's Opinion</a>
                      <a href="https://www.youtube.com/watch?v=Z3YnbonCX-s" target="_blank">Laws In India</a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <div id="social">
                        <a href="#" target="_blank"><div class="social facebook"></div></a>
            <a href="http://twitter.com" target="_blank"><div class="social twitter"></div></a>
            <a href="#" target="_blank"><div class="social google"></div></a>
          
              
          </div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Relevant Links</h3>
                        <ul type="none">
                            <li><a href="#">Government Regulations</a></li>
                            <li><a href="#">Non Disclosure Agreement</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       Made with
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in India at IncubateIND HealthHack 16
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
    

        function login_popup(new_path) {
                $.ajax({
                url : new_path,
                type : "GET",
                dataType : "html"
            }).done(function(data) {
                $("#popup").html(data);
                $("#popup").show();
            });
        }
        
        $(document).submit(function(e) {
            var form = $(e.target);
            if(form.is("#login_sub")){ // check if this is the form that you want (delete this check to apply this to all forms)
                $.ajax({
                    type: "POST",
                    url: form.attr("action"), 
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data) {
                        if(data==='success')
                        {
                            window.location = "index.php";
                        }
                        else
                        {
                            jAlert(data);
                        }
                        //console.log(data); // show response from the php script. (use the developer toolbar console, firefox firebug or chrome inspector console)
                    }
                });
                e.preventDefault();
            }
            
            if(form.is("#forgot_form")){ // check if this is the form that you want (delete this check to apply this to all forms)
                $.ajax({
                    type: "POST",
                    url: form.attr("action"), 
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data) {
                        jAlert(data);
                        //console.log(data); // show response from the php script. (use the developer toolbar console, firefox firebug or chrome inspector console)
                    }
                });
                e.preventDefault();
            }
        });
    </script>
<div id="popup" style="display:none;"></div></body></html>
